In [2]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path
import pandas as pd

Matplotlib is building the font cache; this may take a moment.

In [3]:
# Load in csv
mouse_metadata_path = "Pymaceuticals/data/Mouse_metadata.csv"
results_metadata_path = "Pymaceuticals/data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
results_metadata = pd.read_csv(results_metadata_path)

In [4]:
#mearge data adn display preview

merged_df = pd.merge(results_metadata, mouse_metadata, on="Mouse ID", how="left")
merged_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.0,0,Capomulin,Female,9,22
1,f932,0,45.0,0,Ketapril,Male,15,29
2,g107,0,45.0,0,Ketapril,Female,2,29
3,a457,0,45.0,0,Ketapril,Female,11,30
4,c819,0,45.0,0,Ketapril,Male,21,25

In [5]:
num_of_mice = merged_df["Mouse ID"].nunique()
print("Number of mice:", num_of_mice)

Number of mice: 249

In [6]:
# Our data should be uniquely identified by Mouse ID and Timepoint
# Get the duplicate mice by ID number that shows up for Mouse ID and Timepoint.