In [21]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path
import pandas as pd

In [24]:
# Load in csv
mouse_metadata_path = "Pymaceuticals/data/Mouse_metadata.csv"
results_metadata_path = "Pymaceuticals/data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
results_metadata = pd.read_csv(results_metadata_path)

In [28]:
#mearge data adn display preview

merged_df = pd.merge(mouse_metadata, results_metadata, on="Mouse ID", how="left")
merged_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1